<template>
  <h1>{count}</h1>
  <lightning-button-icon
    onclick={increment}
    icon-name="utility:add"
    alternative-text="Increment"
    title="Increment"
  ></lightning-button-icon>
</template>
